.home-title {
    font-family: 'Merienda', 'Helvetica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.background {
    height: 725px;
}

body {
    background-color: #e8d0a9; 
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22PX;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    color: #fcfbfb;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
}

footer {
    background-color: rgba(20,30,13, .7);
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: black;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    color: white;
}

.join:hover {
    color: white;
}

footer a:hover {
    background-color: black;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width:80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%
}

.footerh3a:hover {
    text-decoration: underline;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}
            